:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;
    --bg-menu: #007db8;

    --taille-texte: 120%;
    
    --height-barreOutilTache: 3%;
}

#section_tache .barreOutil{
    width: 95%;
    padding-top: calc(var(--height-barreOutilTache)/2);
    padding-bottom: calc(var(--height-barreOutilTache)/2);
    background-color: var(--bg-bandeau);
    padding-left: 5%;
    text-align: left;
}

#section_tache .barreOutil .entreText{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

#section_tache .barreOutil .select{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

.barreOutil button {
    width: 10%;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background-color: var(--bg);
    padding: 0.5em 0.7em;
}

.barreOutil button:hover {
    color: #e6eef2;
    background-color: var(--bg-menu);
}

#section_tache {
    height: calc((100% - (var(--height-bandeau) + 10%)) - 20%);
    top: calc(var(--height-bandeau) + 20%);
    width: calc(100% - 20%);
    left: 10%;
    background-color: black;
}

#section_tache .section {
    background: var(--colonne);
    border-radius: 12px;
    padding: 12px;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.#section_tache .section header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--degrade-droite), var(--degrade-gauche));
    align-items: center;
    margin-bottom: 8px;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}

#section_tache .section h2 {
    margin: 0;
    margin-left: 5%;
    color: var(--colonne);
    font-size: calc(var(--taille-texte) * 0.55);
}   

#section_tache .count {
    margin-right: 5%;
    font-size: calc(var(--taille-texte) * 0.5);
    color: var(--texte-count);
}

#section_tache .dropzone{
    flex-grow: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
