:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --height-bandeau: 13%;
    --text-bandeau: #fff;
}

header {
    width: 100%;
    height: var(--height-bandeau);
    background-color: var(--bg-bandeau);
}
