:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;
    --bg-menu: #007db8;

    --taille-texte: 120%;
    
    --height-barreOutilTache: 3%;
}

#section_tache .barreOutil{
    width: 95%;
    padding-top: calc(var(--height-barreOutilTache)/2);
    padding-bottom: calc(var(--height-barreOutilTache)/2);
    background-color: var(--bg-bandeau);
    padding-left: 5%;
    text-align: left;
}

#section_tache .barreOutil .entreText{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

#section_tache .barreOutil .select{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

.barreOutil button {
    width: 10%;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background-color: var(--bg);
    padding: 0.5em 0.7em;
}

.barreOutil button:hover {
    color: #e6eef2;
    background-color: var(--bg-menu);
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

/* === SECTIONS (jours) === */
.section {
    background-color: white;
    border-radius: 10px;
    width: 220px;
    min-height: 250px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.section:hover {
    transform: translateY(-2px);
}

/* === HEADER DES JOURS === */
.section header {
    background-color: #00a5b8;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2px 8px;
    border-radius: 10px;
}

/* === DROPZONES === */
.dropzone {
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
