:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --height-bandeau: 13%;
    --text-bandeau: #fff;
    --height-btn-menu: 60%;
    --font-size-h1-bandeau: 360%;
    --width-menu: 15%;
    --bg-menu: #007db8;
    --height-h1: -15%;
    --text-widjet: #0091d4;
    --text-widjet2: #fff;
    --bg-widjet: #fff;
    --bg-button: #e7e7e7;
    --button: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg);
    overflow: hidden;
}

header {
    position: fixed;
    width: 100%;
    height: var(--height-bandeau);
    top: 0%;
    left: 0%;
    background-color: var(--bg-bandeau);
    color: var(--text-bandeau);
    z-index: 100;
}

header h1 {
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translateY(-100%);
    font-size: var(--font-size-h1-bandeau);
    color: var(--text-bandeau);
    z-index: 110;
}

.imgMenu {
    position: absolute;
    right: 5%;
    height: var(--height-btn-menu);
    top: 20%;
    background-color: var(--bg-bandeau);
    z-index: 110;
}

.date {
    position: absolute;
    left: 3%;
    top: 25%;
    color: var(--text-bandeau);
    display: block;
    z-index: 101;
    transition: transform 0.3s ease;
    padding: 1% 1%;
    z-index: 110;
}

.date:hover {
    transform: scale(2);
}

.menu {
    position: fixed;
    top: var(--height-bandeau);
    right: calc(0% - var(--width-menu));
    width: var(--width-menu);
    height: 100%;
    background-color: var(--bg-menu);
    overflow-y: auto;
    transition: right 0.5s ease;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu ul li {
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0% 0%;
    padding-right: 10%;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.menu ul li {
    margin: 10px 10px;
}

.menu ul li button {
    color: var(--text-bandeau);
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bg-menu);
    padding: 3% 5%;
    font-size: 100%;
    transition: transform 0.3s ease;
}

.menu ul li button:hover {
    text-decoration: underline;
    background-color: var(--bg-bandeau);
    transform: scale(1.3);
}

.menu.open {
    right: 0%;
}

.dateTel {
    position: absolute;
    color: var(--text-bandeau);
    z-index: 1001;
    display: none;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.page {
    position: absolute;
    left: 0%;
    width: 100%;
    height: calc(100% - var(--height-bandeau));
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in-out;
    top: var(--height-bandeau);
}

.section {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 130%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.widjet {
    margin: 1% auto;
    background-color: var(--bg-widjet);
    border-radius: 8px;
    width: 80%;
    height: auto;
    padding: 1% 1%;
}

.widjet h1 {
    color: var(--text-widjet);
}

.widjet p {
    color: var(--text-widjet);
}

.widjet button {
    color: var(--button);
    width: 40%;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 120%;
    height: 30%;
    background-color: var(--bg-button);
    margin-bottom: 2%;
    transition: transform 0.3s ease;
}

.widjet button:hover {
    background-color: var(--bg-bandeau);
    color: var(--text-widjet2);
    transform: scale(1.1);
}

.parametres .widjet ul {
    list-style: none;
}

.parametres .widjet li {
    height: 30%;
    margin: 1% 1%;
}
.parametres .widjet button {
    height: 50px;
}

.parametres #heureInput {
    background-color: var(--bg-button);
    height: 30%;
    width: 40%;
}
