:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --height-bandeau: 13%;
    --text-bandeau: #fff;
    --height-btn-menu: 60%;
    --font-size-h1-bandeau: 360%;
    --width-menu: 300px;
    --bg-menu: #007db8;
}

header {
    position: fixed;
    width: 100%;
    height: var(--height-bandeau);
    top: 0%;
    left: 0%;
    background-color: var(--bg-bandeau);
    color: var(--text-bandeau);
}

header h1 {
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translateY(-100%);
    font-size: var(--font-size-h1-bandeau);
    color: var(--text-bandeau);
}

.imgMenu {
    position: absolute;
    right: 5%;
    height: var(--height-btn-menu);
    top: 20%;
    background-color: var(--bg-bandeau);
}

.date {
    position: absolute;
    left: 3%;
    top: 25%;
    color: var(--text-bandeau);
    display: block;
    z-index: 101;
    transition: transform 0.3s ease;
    padding: 1% 1%;
}

.date:hover {
    transform: scale(2);
}

.menu {
    position: none;
    top: var(--height-bandeau);
    right: calc(0% - var(--width-menu));
    width: var(--width-menu);
    height: 100%;
    background-color: var(--bg-menu);
    overflow-y: auto;
    transition: right 0.5s ease;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu ul li {
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: flex;
    padding: 0% 0%;
    padding-right: 10%;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.menu ul li {
    margin: 10px 10px;
}

.menu ul li button {
    color: var(--text-bandeau);
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bg-menu);
    padding: 3% 5%;
    font-size: 100%;
    transition: transform 0.3s ease;
}

.menu ul li button:hover {
    text-decoration: underline;
    background-color: var(--bg-bandeau);
    transform: scale(1.3);
}

.menu.open {
    right: 0%;
}
