:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;

    --taille-texte: 200%;
    
    --height-barreOutilTache: 10%;
}

#section_tache .barreOutil{
    width: 100%;
    height: var(--height-barreOutilTache);
    background-color: var(--bg-bandeau);
}
