:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --text-bandeau: #fff;
    --bg-menu: #007db8;
    --text-widjet: #0091d4;
    --text-widjet2: #fff;
    --bg-widjet: #fff;
    --height-bandeau: 13%;
    --height-h1: -15%;
    --width-menu: 15%;
    --bg-button: #e7e7e7;
    --button: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg);
}

.div_formulaire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    background-color: var(--bg-widjet);
    border-radius: 10px;
    border: 3px solid var(--text-widjet);
}

.div_formulaire h2 {
    color: var(--text-widjet);
    text-align: center;
}

.div_formulaire label {
    color: var(--text-widjet);
    font-weight: bold;
    text-align: left;
    position: relative;
    left: -25%;
}

.div_formulaire input {
    align-item: center;
    margin: 5px 0;
    padding: 5px 5px;
    border: 2px solid #000;
    outline: 0;
    border-radius: 10px;
    width: 90%;
    margin-top: 15px;
}

.div_formulaire button {
    align-item: center;
    background-color: var(--text-widjet);
    border: 0;
    border-radius: 10px;
    color: var(--text-bandeau);
    margin-top: 15px;
    padding: 6px 0;
    border: 2px solid #000;
    margin-bottom: 16px;
    width: 90%;
}

.div_formulaire .erreur {
    text-align: center;
    color: red;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

@media all and (max-width: 1000px) {
    *{
        font-size: 140%;
    }

    .div_formulaire {
        width: 80%;
        border-radius: 20px;
    }

    
}
