:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;

    --taille-texte: 120%;
    
    --height-barreOutilTache: 7%;
}

#section_tache .barreOutil{
    width: 100%;
    height: var(--height-barreOutilTache);
    background-color: var(--bg-bandeau);
}

#section_tache .barreOutil .entreText{
    transform: translateY(50%);
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}
