:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --height-bandeau: 13%;
    --text-bandeau: #fff;
}

header {
    position: fixed;
    width: 100%;
    height: var(--height-bandeau);
    top: 0%;
    left: 0%;
    background-color: var(--bg-bandeau);
    color: var(--text-bandeau);
}
