:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;
    --bg-menu: #007db8;

    --taille-texte: 120%;
    
    --height-barreOutilTache: 3%;
}

#section_tache .barreOutil{
    width: 100%;
    padding-top: calc(var(--height-barreOutilTache)/2);
    padding-bottom: calc(var(--height-barreOutilTache)/2);
    background-color: var(--bg-bandeau);
    align-items: left;
    padding-left: 5%;
}

#section_tache .barreOutil .entreText{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

#section_tache .barreOutil .select{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}



.barreOutil button {
    width: 10%;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background-color: var(--bg);
    margin-bottom: 2%;
    padding: 0.5em 0.7em;
}

.barreOutil button:hover {
    color: #e6eef2;
    background-color: var(--bg-menu);
}
