:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --height-bandeau: 13%;
    --text-bandeau: #fff;
    --height-btn-menu: 60%;
    --font-size-h1-bandeau: 220%;
}

header {
    position: fixed;
    width: 100%;
    height: var(--height-bandeau);
    top: 0%;
    left: 0%;
    background-color: var(--bg-bandeau);
    color: var(--text-bandeau);
}

header h1 {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--font-size-h1-bandeau);
    color: var(--text-bandeau);
}

.imgMenu {
    position: absolute;
    right: 5%;
    height: var(--height-btn-menu);
    top: 20%;
    background-color: var(--bg-bandeau);
}
