:root{
    --bg: #f5f7fb;
    --colonne: #ffffff;
    --texte: #111111;
    --texte-count: #6b7280
    --bg-bandeau: #0091d4;
    --bg-menu: #007db8;

    --taille-texte: 120%;
    
    --height-barreOutilTache: 3%;
}

#section_tache .barreOutil{
    width: 95%;
    padding-top: calc(var(--height-barreOutilTache)/2);
    padding-bottom: calc(var(--height-barreOutilTache)/2);
    background-color: var(--bg-bandeau);
    padding-left: 5%;
    text-align: left;
}

#section_tache .barreOutil .entreText{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

#section_tache .barreOutil .select{
    padding: 0.5em 0.7em;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background: var(--bg);
    font-size: calc(var(--taille-texte) * 0.5);
}

.barreOutil button {
    width: 10%;
    border-radius: 8px;
    border: 1px solid #e6eef2;
    background-color: var(--bg);
    padding: 0.5em 0.7em;
}

.barreOutil button:hover {
    color: #e6eef2;
    background-color: var(--bg-menu);
}

.body{
    width: 90%;
    transform: translateX(5%);
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 90%);
    gap: 12px;
}

.body .section {
    background: var(--colonne);
    border-radius: 12px;
    padding: 12px;
    min-height: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}
