:root {
    --bg: #e7e7e7;
    --bg-bandeau: #0091d4;
    --text-bandeau: #fff;
    --bg-menu: #007db8;
    --text-widjet: #0091d4;
    --text-widjet2: #fff;
    --bg-widjet: #fff;
    --height-bandeau: 13%;
    --height-h1: -15%;
    --width-menu: 15%;
    --bg-button: #e7e7e7;
    --button: black;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--bg);
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

header {
    position: fixed;
    width: 100%;
    height: var(--height-bandeau);
    top: 0%;
    left: 0%;
    background-color: var(--bg-bandeau);
    z-index: 100;
}

header h1 {
    position: absolute;
    left: 30%;
    top: var(--height-h1);   
    font-size: 350%;
    color: var(--text-bandeau);
    z-index: 101;
}

.imgMenu {
    position: absolute;
    right: 5%;
    height: 60%;
    top: 20%;
    background-color: var(--bg-bandeau);
    z-index: 101;
}

.menu {
    position: fixed;
    top: var(--height-bandeau);
    right: calc(0% - var(--width-menu));
    width: var(--width-menu);
    height: 100%;
    background-color: var(--bg-menu);
    overflow-y: auto;
    transition: right 0.5s ease;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.menu ul li {
    justify-content: center;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0% 0%;
    padding-right: 10%;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.menu ul li {
    margin: 10px 10px;
}

.menu ul li button {
    color: var(--text-bandeau);
    text-decoration: none;
    border-radius: 5px;
    border: 0px;
    background-color: var(--bg-menu);
    padding: 3% 5%;
    font-size: 100%;
    transition: transform 0.3s ease;
}

.menu ul li button:hover {
    text-decoration: underline;
    background-color: var(--bg-bandeau);
    transform: scale(1.3);
}

.menu.open {
    right: 0%;
}

.date {
    position: absolute;
    left: 3%;
    top: 25%;
    color: var(--text-bandeau);
    display: block;
    z-index: 101;
    transition: transform 0.3s ease;
    padding: 1% 1%;
}

.date:hover {
    transform: scale(2);
}

.dateTel {
    position: absolute;
    color: var(--text-bandeau);
    z-index: 1001;
    display: none;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.widjet {
    margin: 1% auto;
    background-color: var(--bg-widjet);
    border-radius: 8px;
    width: 80%;
    height: auto;
    padding: 1% 1%;
}

.widjet h1 {
    color: var(--text-widjet);
}

.widjet p {
    color: var(--text-widjet);
}

.widjet button {
    color: var(--button);
    width: 40%;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 120%;
    height: 30%;
    background-color: var(--bg-button);
    margin-bottom: 2%;
    transition: transform 0.3s ease;
}

.widjet button:hover {
    background-color: var(--bg-bandeau);
    color: var(--text-widjet2);
    transform: scale(1.1);
}

.page {
    position: absolute;
    left: 0%;
    width: 100%;
    height: calc(100% - var(--height-bandeau));
    display: flex;
    flex-direction: column;
    transition: transform 0.8s ease-in-out;
    top: var(--height-bandeau);
}

.section {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 130%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.parametres .widjet ul {
    list-style: none;
}

.parametres .widjet li {
    height: 30%;
    margin: 1% 1%;
}
.parametres .widjet button {
    height: 50px;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 40%;
    background-color: var(--bg-widjet);
    border-radius: 10px;
    border: 3px solid var(--text-widjet);
}

.titre_form {
    color: var(--text-widjet);
}

.form label {
    font-weight: bold;
    text-align: left;
    position: relative;
    left: -25%;
}

.form input{
    margin: 5px 0;
    padding: 5px 5px;
    border: 2px solid #000;
    outline: 0;
    border-radius: 10px;
    width: 90%;
    margin-top: 15px;
}

.ok{
    background-color: var(--text-widjet);
    border: 0;
    border-radius: 10px;
    color: var(--text-bandeau);
    margin-top: 15px;
    padding: 6px 0;
    border: 2px solid #000;
    margin-bottom: 8px;
    width: 90%;
}

.form p {
    color: red;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
}

.deco {
    color: black;
}

.deco:hover {
    color: var(--text-widjet2);
}

input[type="time"] {
    width: 40%;
    padding: 8px;
    border: 0px;
    height: 18%;
    border-radius: 10px;
    background-color: var(--bg-button);
    color: var(--button);
    font-weight: bold;
    font-size: 120%;
    margin-bottom: 2%;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media all and (max-width: 500px) {
    .date {
        display: none;
    }

    header h1 {
        left: 10%;
        font-size: 220%;
        top: -7%;
    }

    .imgMenu {
        height: 60%;
        top: 50%;
        transform: translateY(-50%);
        right: 10%;
    }

    :root {
        --width-menu: 35%;
    }

    .dateTel {
        display: block;
    }

    .widjet {
        margin: 3% auto;
        padding: 3% 3%;
    }

    .widjet h1 {
        font-size: 120%;
        margin: 5% 5%;
        margin-bottom: 10%;
    }

    .widjet button {
        font-size: 100%;
        font-weight: bolder;
        margin-bottom: 10%;
        transition: transform 0.3s ease;
        margin-bottom: 15%;
        height: calc(max-content + 10%);
        width: max-content;
    }

    .widjet button:hover {
        animation: changerCouleur 1s forwards;
    }

    @keyframes changerCouleur {
        0% {
            transform: scale(1.3);
        }
        99% {
            background-color: var(--bg-bandeau);
            color: var(--text-widjet2);
        }
        100% {
            transform: scale(1.0);
            background-color: var(--bg-button);
            color: var(--button);
        }
    }
    
    .parametres .widjet ul {
        list-style: none;
        padding: 0% 0%;
    }
    
    .parametres .widjet li {
        width: 100%;
        margin: 5% 0%;
        height: 70px;
        text-align: center;
    }

    input[type="time"] {
        height: 25%;
        vertical-align: middle;
        margin-top: 3px;
        width: 40%;
    }

    .form {
        width: 80%;
        height: 70%;
    }
    
    .l1 {
        position: absolute;
        top: 1%;
        left: 0%;
        color: gray;
    }

    .l2 {
        position: absolute;
        top: 0%;
        left: 0%;
        color: red;
    }
}
